#root{
    max-width:100%;
  
   background-color: rgb(224, 224, 224);
  
      
  }
.appbar{
  color: antiquewhite;
}
.dashboard{
  text-align: left;
  margin-left: 6%;
  margin-top: 1%;
  max-width:100%;
  
 
}
.customer_header{
  text-align: left;
  margin-left: 6%;
  margin-top: 20%;
  font-weight: 1000;
  font-size: xx-large;
}


 
