#root{
    max-width: 300%;
  
   background-color: rgb(255, 255, 255);
   max-height: 500%;
      
  }
.appbar{
  color: rgb(255, 255, 255);
}
.dashboard{
  text-align: left;
  margin-left: 6%;
  margin-top: 5%;
 
}
.customer_header{
  text-align: left;
  margin-left: 6%;
  margin-top: 5%;
  font-weight: 1000;
  font-size: xx-large;
}


 
