/* supplier.css */

.inB {
    position: relative;
    padding: 16px;
  }
  
  .upload-date-container {
    margin-bottom: 16px;
  }
  
  .upload-date {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  .approve-button {
    background-color: #153e14;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reject-button {
    background-color: #490b0b;
    color: white;
    padding: 8px 16px;
    border: none;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .negotiate-button {
    background-color: #0b2170;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .table-cell {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: middle;
  }
  
  .first-row {
    background-color: #f0f0f0;
  }
  